<section id="content" class="table-layout animated fadeIn"   >

    <!-- begin: .tray-center -->
    <div class="tray tray-center col-md-12" >

        <div class="mw1400 center-block">

            <!-- Begin: Content Header -->
            <div class="content-header">

            </div>

            <!-- Begin: Admin Form -->
            <div class="admin-form" >

                <div class="panel heading-border">
                    <div class="panel-body bg-light">



                        <div class="section-divider mb40" id="spy1">
                            <span>Créer ou Modifier Document</span>
                        </div>



                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                                            <!--  <h2 id="jhi-documentclasse-heading" jhiTranslate="gestionEcoleApp.documentclasse.home.createOrEditLabel">Create or edit a Documentclasse</h2>-->
                                            <div>
                                                <jhi-alert-error></jhi-alert-error>
                                                <!-- <div class="form-group" [hidden]="!documentclasse.id">
                                                     <label for="id" jhiTranslate="global.field.id">ID</label>
                                                     <input type="text" class="form-control" id="id" name="id"
                                                         [(ngModel)]="documentclasse.id" readonly />
                                                 </div>-->
                                                <div class=" col-md-6">
                                                    <div class="form-group col-md-12 ">
                                                        <div class="section">
                                                            <label>Matiére</label>
                                                            <label class="field prepend-icon">

                                                                <input type="text" class="gui-input"  name="libelle" id="field_libelle" required="required"
                                                                       [(ngModel)]="documentclasse.nomdocument"  placeholder="Rang" />
                                                                <label for="field_libelle" class="field-icon">
                                                                    <i class="fa fa-user"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label" >Classe</label>
                                                        <select class="form-control" id="field_classe" name="classe" [(ngModel)]="documentclasse.classe" >

                                                            <option [ngValue]="semestreOption.id === documentclasse.classe?.id ? documentclasse.classe : semestreOption" *ngFor="let semestreOption of classes; trackBy: trackSemestreById">{{semestreOption.libelle}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label" >Année Scolaire</label>
                                                        <select class="form-control"  name="annne" [(ngModel)]="documentclasse.ref" >
                                                            <option [ngValue]="null">Selectionner</option>
                                                            <option    *ngFor="let annee of this.anneeScolaire" [selected]="annee.select==true" >{{annee.libelle}}</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.documentclasse.semestre" for="field_semestre">Semestre</label>
                                                        <select class="form-control" id="field_semestre" name="semestre" [(ngModel)]="documentclasse.semestre" >

                                                            <option [ngValue]="semestreOption.id === documentclasse.semestre?.id ? documentclasse.semestre : semestreOption" *ngFor="let semestreOption of semestres; trackBy: trackSemestreById">{{semestreOption.libelle}}</option>
                                                        </select>
                                                    </div>

                                                    <!--<div class="form-group">
                                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.documentclasse.classe" for="field_classe">Classe</label>
                                                        <select class="form-control" id="field_classe" name="classe" [(ngModel)]="documentclasse.classe" >
                                                            <option [ngValue]="null"></option>
                                                            <option [ngValue]="classeOption.id === documentclasse.classe?.id ? documentclasse.classe : classeOption" *ngFor="let classeOption of classes; trackBy: trackClasseById">{{classeOption.libelle}}</option>
                                                        </select>
                                                    </div>-->
                                                    <div>
                                                        <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                                                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                                        </button>
                                                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        <div class="col-md-6">
                                                            <div class="fileupload fileupload-new admin-form" data-provides="fileupload">
                                                                <div class="fileupload-preview thumbnail mb15">
                                                                    <img [src]="'data:' +documentclasse.document1ContentType + ';base64,' + documentclasse.document1" *ngIf="documentclasse.document1" alt="document image" (click)="openFile(documentclasse.document1ContentType, documentclasse.document1)"/>
                                                                </div>
                                                                <span class="button btn-system btn-file btn-block ph5">
                          <span class="fileupload-new">Change</span>
                          <span class="fileupload-exists">Change</span>
                           <input type="file" id="file_document1" (change)="setFileData($event, documentclasse, 'document1', true)" accept="image/*" />
                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                     <label class="form-control-label" jhiTranslate="gestionEcoleApp.documentclasse.ref" for="field_ref">Ref</label>
                                                     <input type="number" class="form-control" name="ref" id="field_ref"
                                                         [(ngModel)]="documentclasse.ref" />
                                                 </div>-->

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

