<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span jhiTranslate="gestionEcoleApp.employe.detail.title">Employe</span> {{employe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEcoleApp.employe.telUtilisateur">Tel Utilisateur</span></dt>
                <dd>
                    <span>{{employe.telUtilisateur}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.employe.etatUtilisateur">Etat Utilisateur</span></dt>
                <dd>
                    <span>{{employe.etatUtilisateur}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.employe.user">User</span></dt>
                <dd>
                    {{employe.user?.id}}
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.employe.profil">Profil</span></dt>
                <dd>
                    <div *ngIf="employe.profil">
                        <a [routerLink]="['/profil', employe.profil?.id, 'view']">{{employe.profil?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employe', employe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
