

<section id="content" class="table-layout animated fadeIn"   >

    <!-- begin: .tray-center -->
    <div class="tray tray-center col-md-12" >

        <div class="mw1400 center-block">

            <!-- Begin: Content Header -->
            <div class="content-header">

            </div>

            <!-- Begin: Admin Form -->
            <div class="admin-form" >

                <div class="panel heading-border">
                    <div class="panel-body bg-light">



                        <div class="section-divider mb40" id="spy1">
                            <span>Créer ou Modifier Menu</span>
                        </div>


                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">



                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="row">
                                    <!--<div class="form-group col-md-4" [hidden]="!menu.id">
                                        <label for="id" jhiTranslate="global.field.id">ID</label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="rang"  id="id" name="id"
                                                       [(ngModel)]="menu.id" readonly  placeholder="Rang"  />
                                                <label for="id" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>-->
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label"  for="field_codeMenu">Code </label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"  name="codeMenu" id="field_codeMenu" required="required" #code="ngModel"  [class.invalid]="!code.valid && code.touched"
                                                       [(ngModel)]="menu.codeMenu"  placeholder="Rang"  />
                                                <label for="field_codeMenu" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <small class="form-text text-danger" [class.hidden]="code.valid ||code.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label"  for="field_libelleMenu">Libelle </label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="libelleMenu" id="field_libelleMenu"
                                                       required="required" #libelle="ngModel"  [class.invalid]="!libelle.valid && libelle.touched"
                                                       [(ngModel)]="menu.libelleMenu"  placeholder="Rang"  />
                                                <label for="field_libelleMenu" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>

                                                <small class="form-text text-danger"
                                                       [class.hidden]="libelle.valid ||libelle.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label"  for="field_rangMenu">Rang</label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"    name="rangMenu" id="field_rangMenu"

                                                       [(ngModel)]="menu.rangMenu"  placeholder="Rang"  />
                                                <label for="field_rangMenu" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label" for="field_urlMenu">Url </label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"  name="urlMenu" id="field_urlMenu"
                                                       required="required" #men="ngModel"  [class.invalid]="!men.valid && men.touched"
                                                       [(ngModel)]="menu.urlMenu"  placeholder="Rang"

                                                />
                                                <label for="field_urlMenu" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <small class="form-text text-danger"
                                                       [class.hidden]="men.valid ||men.untouched ">
                                                    Ce champ est obligatoire
                                                </small>


                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-6 center-block">
                                        <label class="form-control-label"  for="field_iconeMenu">Icone</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"  name="iconeMenu" id="field_iconeMenu"
                                                       required="required" #icone="ngModel"  [class.invalid]="!icone.valid && icone.touched"
                                                       [(ngModel)]="menu.iconeMenu"   placeholder="Rang"  />
                                                <label for="field_iconeMenu" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <small class="form-text text-danger" [class.hidden]="icone.valid ||icone.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.menu.rubrique" for="field_rubrique">Rubrique</label>
                                        <div class="section">
                                            <select id="dane" class="select2-default form-control">
                                                <option [ngValue]="null"></option>
                                                <option [selected]="rubriqueOption.cocher==true" *ngFor="let rubriqueOption of rubriques">{{rubriqueOption .libelleRubrique}}</option>

                                            </select>
                                            <small class="form-text text-danger"
                                                   [class.hidden]="this.invalid==true ">
                                                Ce champ est obligatoire
                                            </small>
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 center-block">
                                        <label class="form-control-label" >Etat</label>

                                        <div class="section">
                                            <label class="switch block mt15">
                                                <input type="checkbox"  (change)="changeEtat()" [checked]="menu.etatMenu==1" name="tools" id="t2" value="reports">
                                                <label for="t2" data-on="Oui" data-off="Non"></label>
                                                <span>Etat</span>
                                            </label>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div style="float: right">
                                            <button  type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                            </button>
                                            <button  type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                            </button>

                                        </div>
                                    </div>
                        </form>


                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

















