<div>
    <h2 id="page-heading">

        <button style="float: right;margin-right: 20px" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-menu" [routerLink]="['/menu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionEcoleApp.menu.home.createLabel">
            Create new Menu
            </span>
        </button>
    </h2>

    <br/>
<br/>
    <jhi-alert></jhi-alert>


<section id="content" class="table-layout animated fadeIn"   >

    <!-- begin: .tray-center -->
    <div class="tray tray-center col-md-12" >

        <div class="mw1400 center-block">

            <!-- Begin: Content Header -->
            <div class="content-header">

            </div>

            <!-- Begin: Admin Form -->
            <div class="admin-form" >

                <div class="panel heading-border">
                    <div class="panel-body bg-light">

                        <div class="section-divider mb40" id="spy1">
                            <span>Liste des Menus</span>
                        </div>
                        <div class="table-responsive" *ngIf="menus">
                            <table class="table table-striped">
                                <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">


                                    <th jhiSortBy="libelleMenu"><span>Libelle </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="codeMenu"><span >Code </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="etatMenu"><span >Etat </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="rubrique.id"><span >Rubrique</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let menu of menus ;trackBy: trackId">
                                   <!-- <td><a [routerLink]="['/menu', menu.id, 'view' ]">{{menu.id}}</a></td>-->

                                    <td>{{menu.libelleMenu}}</td>
                                    <td>{{menu.codeMenu}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm col-md-8" (click)="setActive(menu,menu.etatMenu)" *ngIf="menu.etatMenu==0"
                                        >Deactivated</button>
                                        <button class="btn btn-success btn-sm col-md-8" (click)="setActive(menu,menu.etatMenu)" *ngIf="menu.etatMenu==1"
                                        >Activated</button>
                                       </td>
                                    <td>
                                        <div *ngIf="menu.rubrique">
                                            <a [routerLink]="['../rubrique', menu.rubrique?.id, 'view' ]" >{{menu.rubrique?.libelleRubrique}}</a>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <span style="margin-right: 10px" type="button"  [routerLink]="['/menu', menu.id, 'view' ]"class="label label-rounded label-primary">Voir</span>
                                            <span style="margin-right: 10px" type="button" class="label label-rounded label-warning"  [routerLink]="['/menu', menu.id, 'edit']">Editer</span>
                                            <span class="label label-rounded label-danger"  type="button" (click)="deleteSupprimer(menu.id)">Supprimer</span>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        </form>


                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
    <div style="float: right;margin-right: 20px"  *ngIf="menus && menus.length">
        <!--<div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>-->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
