<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="application">
            <h2><span jhiTranslate="gestionEcoleApp.application.detail.title">Application</span> {{application.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEcoleApp.application.nomApplication">Nom Application</span></dt>
                <dd>
                    <span>{{application.nomApplication}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.versionApplication">Version Application</span></dt>
                <dd>
                    <span>{{application.versionApplication}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.logoApplication">Logo Application</span></dt>
                <dd>
                    <span>{{application.logoApplication}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.coutApplication">Cout Application</span></dt>
                <dd>
                    <span>{{application.coutApplication}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.dateVente">Date Vente</span></dt>
                <dd>
                    <span>{{application.dateVente}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.maintenance">Maintenance</span></dt>
                <dd>
                    <span>{{application.maintenance}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.contratMaintenance">Contrat Maintenance</span></dt>
                <dd>
                    <span>{{application.contratMaintenance}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{application.dateDebut}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{application.dateFin}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.application.etatApplication">Etat Application</span></dt>
                <dd>
                    <span>{{application.etatApplication}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application', application.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
