<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-documentexcel-heading"
        data-cy="DocumentexcelCreateUpdateHeading"
        jhiTranslate="gestionEcoleApp.documentexcel.home.createOrEditLabel"
      >
        Créer ou éditer un Documentexcel
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gestionEcoleApp.documentexcel.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let excelRef = editForm.get('excel')!;
        <div class="mb-3">
          <label class="form-label" for="field_excel" jhiTranslate="gestionEcoleApp.documentexcel.excel">Excel</label>
          <div>
            @if (excelRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(excelRef.value!, editForm.get('excelContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                ><br />
                <span class="pull-start">{{ editForm.get('excelContentType')!.value }}, {{ byteSize(excelRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ excel: undefined, excelContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_excel"
              data-cy="excel"
              (change)="setFileData($event, 'excel', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="excel" id="field_excel" data-cy="excel" formControlName="excel" />
          <input
            type="hidden"
            class="form-control"
            name="excelContentType"
            id="field_excelContentType"
            formControlName="excelContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
