<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionEcoleApp.profilModule.home.title">Profil Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profil-module" [routerLink]="['/profil-module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionEcoleApp.profilModule.home.createLabel">
            Create new Profil Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profilModules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionEcoleApp.profilModule.encours">Encours</span></th>
            <th><span jhiTranslate="gestionEcoleApp.profilModule.profil">Profil</span></th>
            <th><span jhiTranslate="gestionEcoleApp.profilModule.module">Module</span></th>
            <th><span jhiTranslate="gestionEcoleApp.profilModule.siteProfil">Site Profil</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profilModule of profilModules ;trackBy: trackId">
                <td><a [routerLink]="['/profil-module', profilModule.id, 'view' ]">{{profilModule.id}}</a></td>
                <td>{{profilModule.encours}}</td>
                <td>
                    <div *ngIf="profilModule.profil">
                        <a [routerLink]="['../profil', profilModule.profil?.id, 'view' ]" >{{profilModule.profil?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="profilModule.module">
                        <a [routerLink]="['../module', profilModule.module?.id, 'view' ]" >{{profilModule.module?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="profilModule.siteProfil">
                        <a [routerLink]="['../site-profil', profilModule.siteProfil?.id, 'view' ]" >{{profilModule.siteProfil?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profil-module', profilModule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profil-module', profilModule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'profil-module', { outlets: { popup: profilModule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
