<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionEcoleApp.siteProfil.home.title">Site Profils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-site-profil" [routerLink]="['/site-profil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionEcoleApp.siteProfil.home.createLabel">
            Create new Site Profil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="siteProfils">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encours"><span jhiTranslate="gestionEcoleApp.siteProfil.encours">Encours</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="site.id"><span jhiTranslate="gestionEcoleApp.siteProfil.site">Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profil.id"><span jhiTranslate="gestionEcoleApp.siteProfil.profil">Profil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let siteProfil of siteProfils ;trackBy: trackId">
                <td><a [routerLink]="['/site-profil', siteProfil.id, 'view' ]">{{siteProfil.id}}</a></td>
                <td>{{siteProfil.encours}}</td>
                <td>
                    <div *ngIf="siteProfil.site">
                        <a [routerLink]="['../site', siteProfil.site?.id, 'view' ]" >{{siteProfil.site?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="siteProfil.profil">
                        <a [routerLink]="['../profil', siteProfil.profil?.id, 'view' ]" >{{siteProfil.profil?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/site-profil', siteProfil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/site-profil', siteProfil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                               (click)="confirmDelete(siteProfil.id)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="siteProfils && siteProfils.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
