<div>
  <h2 id="page-heading" data-cy="RubriqueProfilHeading">
    <span jhiTranslate="gestionEcoleApp.rubriqueProfil.home.title">RubriqueProfils</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gestionEcoleApp.rubriqueProfil.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rubrique-profil"
        [routerLink]="['/rubrique-profil/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionEcoleApp.rubriqueProfil.home.createLabel">Créer un nouveau Rubrique Profil</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (rubriqueProfils().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionEcoleApp.rubriqueProfil.home.notFound">Aucun Rubrique Profil trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="encours">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.rubriqueProfil.encours">Encours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profil.id">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.rubriqueProfil.profil">Profil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rubrique.id">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.rubriqueProfil.rubrique">Rubrique</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profilModule.id">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.rubriqueProfil.profilModule">Profil Module</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (rubriqueProfil of rubriqueProfils(); track trackId(rubriqueProfil)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/rubrique-profil', rubriqueProfil.id, 'view']">{{ rubriqueProfil.id }}</a>
              </td>
              <td>{{ rubriqueProfil.encours }}</td>
              <td>
                @if (rubriqueProfil.profil) {
                  <div>
                    <a [routerLink]="['/profil', rubriqueProfil.profil.id, 'view']">{{ rubriqueProfil.profil.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (rubriqueProfil.rubrique) {
                  <div>
                    <a [routerLink]="['/rubrique', rubriqueProfil.rubrique.id, 'view']">{{ rubriqueProfil.rubrique.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (rubriqueProfil.profilModule) {
                  <div>
                    <a [routerLink]="['/profil-module', rubriqueProfil.profilModule.id, 'view']">{{ rubriqueProfil.profilModule.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/rubrique-profil', rubriqueProfil.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/rubrique-profil', rubriqueProfil.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(rubriqueProfil)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
