<div>
    <h2 id="page-heading">


        <button [disabled]="this.ajouter==0" style="float: right;margin-right: 20px" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-site" [routerLink]="['/site/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionEcoleApp.site.home.createLabel">
            Create new Site
            </span>
        </button>
    </h2>

    <br/>
<br/>
    <jhi-alert></jhi-alert>

    <section id="content" class="table-layout animated fadeIn"   >

        <!-- begin: .tray-center -->
        <div class="tray tray-center col-md-12" >

            <div class="mw1400 center-block">

                <!-- Begin: Content Header -->
                <div class="content-header">

                </div>

                <!-- Begin: Admin Form -->
                <div class="admin-form" >

                    <div class="panel heading-border">
                        <div class="panel-body bg-light">



                                <div class="section-divider mb40" id="spy1">
                                    <span>Donnés Site</span>
                                </div>
                            <div class="table-responsive" *ngIf="sites">
                                <table class="table table-striped">
                                    <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

                                        <th jhiSortBy="codeSite"><span >Nom </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                        <th jhiSortBy="nineaSite"><span >Ninea </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                        <th jhiSortBy="adresseSite"><span >Adresse </span> <fa-icon [icon]="'sort'"></fa-icon></th>

                                        <th jhiSortBy="emailSite"><span >Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                                        <th jhiSortBy="faxEcole"><span >Fax </span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                        <th jhiSortBy="ecole.id"><span >Ecole</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                        <th jhiSortBy="etatSite"><span >Etat </span> <fa-icon [icon]="'sort'"></fa-icon></th>



                                        <th ><span >Options</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let site of sites ;trackBy: trackId">
                                        <!--<td><a [routerLink]="['/site', site.id, 'view' ]">{{site.id}}</a></td>-->
                                        <td>{{site.codeSite}}</td>
                                        <td>{{site.nineaSite}}</td>
                                        <td>{{site.adresseSite}}</td>
                                       <!-- <td>{{site.telephone}}</td>-->
                                        <td>{{site.emailSite}}</td>
                                        <td>{{site.faxEcole}}</td>
                                       <td>
                                            <div *ngIf="site.ecole">
                                                <a [routerLink]="['../ecole', site.ecole?.id, 'view' ]" >{{site.ecole?.sigleEcole}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm col-md-12" (click)="setActive(site,site.etatSite)" *ngIf="site.etatSite==0"
                                            >Inactif</button>
                                            <button class="btn btn-success btn-sm col-md-12" (click)="setActive(site,site.etatSite)" *ngIf="site.etatSite==1"
                                            >Actif</button>
                                            <!--  {{site.etatSite}}</td>-->
                                        <td>

                                        <td class="text-right">
                                            <div class="btn-group flex-btn-group-container">
                                                <span style="margin-right: 10px" type="button"   [routerLink]="['/site', site.id, 'view' ]" class="label label-rounded label-primary">Voir</span>
                                                <span style="margin-right: 10px" type="button" class="label label-rounded label-warning"   [routerLink]="['/site', site.id, 'edit']">Editer</span>
                                                <span class="label label-rounded label-danger"  type="button" (click)="deleteSupprimer(site.id)">Supprimer</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            </form>


                    </div>

                </div>

            </div>
            </div>
        </div>
    </section>
    <!--
    <div class="panel panel-dark" style="margin-top: 40px">
        <div class="panel-heading">
            <span class="panel-title">Liste des sites</span>
            <div class="widget-menu pull-right">
                <code class="mr10 bg-dark dark p3 ph5">Liste des sites</code>
            </div>
        </div>
        <div class="panel-body">


            <div class="table-responsive" *ngIf="sites">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="codeSite"><span jhiTranslate="gestionEcoleApp.site.codeSite">Code Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="logoSite"><span jhiTranslate="gestionEcoleApp.site.logoSite">Logo Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="enteteSite"><span jhiTranslate="gestionEcoleApp.site.enteteSite">Entete Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="basPageSite"><span jhiTranslate="gestionEcoleApp.site.basPageSite">Bas Page Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="nineaSite"><span jhiTranslate="gestionEcoleApp.site.nineaSite">Ninea Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="adresseSite"><span jhiTranslate="gestionEcoleApp.site.adresseSite">Adresse Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="telephone"><span jhiTranslate="gestionEcoleApp.site.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="emailSite"><span jhiTranslate="gestionEcoleApp.site.emailSite">Email Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="sigleSite"><span jhiTranslate="gestionEcoleApp.site.sigleSite">Sigle Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="faxEcole"><span jhiTranslate="gestionEcoleApp.site.faxEcole">Fax Ecole</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="etatSite"><span jhiTranslate="gestionEcoleApp.site.etatSite">Etat Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="encours"><span jhiTranslate="gestionEcoleApp.site.encours">Encours</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="rang"><span jhiTranslate="gestionEcoleApp.site.rang">Rang</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="ecole.id"><span jhiTranslate="gestionEcoleApp.site.ecole">Ecole</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span >Modules</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span >CRUD</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let site of sites ;trackBy: trackId">
                        <td><a [routerLink]="['/site', site.id, 'view' ]">{{site.id}}</a></td>
                        <td>{{site.codeSite}}</td>
                        <td>{{site.logoSite}}</td>
                        <td>{{site.enteteSite}}</td>
                        <td>{{site.basPageSite}}</td>
                        <td>{{site.nineaSite}}</td>
                        <td>{{site.adresseSite}}</td>
                        <td>{{site.telephone}}</td>
                        <td>{{site.emailSite}}</td>
                        <td>{{site.sigleSite}}</td>
                        <td>{{site.faxEcole}}</td>
                        <td>{{site.etatSite}}</td>
                        <td>{{site.encours}}</td>
                        <td>{{site.rang}}</td>
                        <td>
                            <div *ngIf="site.ecole">
                                <a [routerLink]="['../ecole', site.ecole?.id, 'view' ]" >{{site.ecole?.id}}</a>
                            </div>
                        </td>
                        <td>
                            <span *ngFor="let mod of this.site.modules">
                            <span class="label label-rounded label-default" *ngIf="mod.libelleModule">-{{mod.libelleModule}}</span>

                                </span>
                        </td>

                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <span type="button"  [routerLink]="['/site', site.id, 'view' ]" class="label label-rounded label-dark">Voir</span>
                                <span type="button" class="label label-rounded label-primary"  [routerLink]="['/site', site.id, 'edit']">Editer</span>
                                <span class="label label-rounded label-danger"  type="button" (click)="confirmDelete(site.id)">Supprimer</span>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

-->

    <div style="float: right;margin-right: 20px" *ngIf="sites && sites.length">
       <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>-->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>


</div>
