<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="site">
            <h2><span jhiTranslate="gestionEcoleApp.site.detail.title">Site</span> {{site.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEcoleApp.site.codeSite">Code Site</span></dt>
                <dd>
                    <span>{{site.codeSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.logoSite">Logo Site</span></dt>
                <dd>
                    <span>{{site.logoSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.enteteSite">Entete Site</span></dt>
                <dd>
                    <span>{{site.enteteSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.basPageSite">Bas Page Site</span></dt>
                <dd>
                    <span>{{site.basPageSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.nineaSite">Ninea Site</span></dt>
                <dd>
                    <span>{{site.nineaSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.adresseSite">Adresse Site</span></dt>
                <dd>
                    <span>{{site.adresseSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.telephone">Telephone</span></dt>
                <dd>
                    <span>{{site.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.emailSite">Email Site</span></dt>
                <dd>
                    <span>{{site.emailSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.sigleSite">Sigle Site</span></dt>
                <dd>
                    <span>{{site.sigleSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.faxEcole">Fax Ecole</span></dt>
                <dd>
                    <span>{{site.faxEcole}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.etatSite">Etat Site</span></dt>
                <dd>
                    <span>{{site.etatSite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.encours">Encours</span></dt>
                <dd>
                    <span>{{site.encours}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.rang">Rang</span></dt>
                <dd>
                    <span>{{site.rang}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEcoleApp.site.ecole">Ecole</span></dt>
                <dd>
                    <div *ngIf="site.ecole">
                        <a [routerLink]="['/ecole', site.ecole?.id, 'view']">{{site.ecole?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/site', site.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
