
<section id="content" class="table-layout animated fadeIn"   >

    <!-- begin: .tray-center -->
    <div class="tray tray-center col-md-12" >

        <div class="mw1400 center-block">

            <!-- Begin: Content Header -->
            <div class="content-header">

            </div>

            <!-- Begin: Admin Form -->
            <div class="admin-form" >

                <div class="panel heading-border">
                    <div class="panel-body bg-light">



                        <div class="section-divider mb40" id="spy1">
                            <span>Créer ou Modifier une site</span>
                        </div>
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="row">

                                  <!--  <div class="form-group col-md-4" [hidden]="!site.id">
                                        <label for="id" jhiTranslate="global.field.id">ID</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input" id="id" name="id"
                                                       [(ngModel)]="site.id" readonly placeholder="Ninea de L'ecole" />
                                                <label for="id" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>


                                    </div>-->
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.codeSite" for="field_codeSite">Code Site</label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" required class="gui-input"  #code="ngModel"  [class.invalid]="!code.valid && code.touched" name="codeSite" id="field_codeSite"
                                                       [(ngModel)]="site.codeSite"  placeholder="Code" />
                                                <label for="field_codeSite" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>

                                                <small class="form-text text-danger"
                                                       [class.hidden]="code.valid ||code.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.sigleSite" for="field_sigleSite">Sigle Site</label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="sigleSite" id="field_sigleSite" required #sigle="ngModel"  [class.invalid]="!sigle.valid && sigle.touched"
                                                       [(ngModel)]="site.sigleSite"  placeholder="Ninea de L'ecole" />
                                                <label for="field_sigleSite" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>

                                                <small class="form-text text-danger"
                                                       [class.hidden]="sigle.valid || sigle.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.logoSite" for="field_logoSite">Logo Site</label>


                                            <div class="section">
                                                <label class="field prepend-icon append-button file">
                                                    <span class="button" >Choose File</span>
                                                    <input    type="file" class="gui-file" name="file1" id="file1"    (change)="dane1($event)" (click)="change1()">
                                                    <input  type="text" class="gui-input" name="logoSite" id="field_logoSite1"  required="required" #logo="ngModel" [class.invalid]="!validFile1"
                                                           [(ngModel)]="site.logoSite"  />
                                                    <label class="field-icon">
                                                        <i class="fa fa-upload"></i>
                                                    </label>
                                                    <small class="form-text text-danger"
                                                           [class.hidden]="validFile1"    >
                                                      Ce champ est obligatoire
                                                    </small>



                                                </label>
                                            </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4" >
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.adresseSite" for="field_adresseSite">Adresse Site</label>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="adresseSite" id="field_adresseSite" required  #add="ngModel"  [class.invalid]="!add.valid && add.touched"
                                                       [(ngModel)]="site.adresseSite"  placeholder="Ninea de L'ecole" />
                                                <label for="field_adresseSite" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <small class="form-text text-danger" [class.hidden]="add.valid ||add.untouched ">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.emailSite" for="field_emailSite">Email Site</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="emailSite" id="field_emailSite" required #email="ngModel"  [class.invalid]="!email.valid && email.touched"
                                                       [(ngModel)]="site.emailSite"   placeholder="Ninea de L'ecole" />
                                                <label for="field_emailSite" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <small class="form-text text-danger"[class.hidden]="email.valid || email.untouched "
                                                       >
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.enteteSite" for="field_enteteSite">Entete Site</label>

                                        <div class="section">
                                            <label class="field prepend-icon append-button file">
                                                <span class="button" >Choose File</span>
                                                <input type="file" class="gui-file" name="file1" id="file1"  (change)="dane($event)" (click)="change()">
                                                <input type="text" class="gui-input" name="enteteSite" id="field_enteteSite"
                                                       [(ngModel)]="site.enteteSite" required    #entete="ngModel" [class.invalid]="!validFile" />
                                                <label class="field-icon">
                                                    <i class="fa fa-upload"></i>
                                                </label>
                                                <small class="form-text text-danger"
                                                       [class.hidden]="validFile">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.nineaSite" for="field_nineaSite">Ninea Site</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="nineaSite" id="field_nineaSite"
                                                       [(ngModel)]="site.nineaSite"  placeholder="Ninea de L'ecole" />
                                                <label for="field_nineaSite" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.faxEcole" for="field_faxEcole">Fax Ecole</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" class="gui-input"   name="faxEcole" id="field_faxEcole"
                                                       [(ngModel)]="site.faxEcole"  placeholder="Ninea de L'ecole" />
                                                <label for="field_faxEcole" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.basPageSite" for="field_basPageSite">Bas Page Site</label>
                                        <div class="section">
                                            <label class="field prepend-icon append-button file">
                                                <span class="button" >Choose File</span>
                                                <input  type="file" class="gui-file" name="file1" id="file1"   (change)="dane2($event)" (click)="change2()">
                                                <input type="text" class="gui-input" name="basPageSite" id="field_basPageSite2"  required    #bas="ngModel" [class.invalid]="!validFile2"
                                                       [(ngModel)]="site.basPageSite"  />
                                                <label class="field-icon">
                                                    <i class="fa fa-upload"></i>
                                                </label>
                                                <small class="form-text text-danger"
                                                       [class.hidden]="validFile2">
                                                    Ce champ est obligatoire
                                                </small>

                                            </label>
                                        </div>
                                    </div>


                                   <!-- <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.telephone" for="field_telephone">Telephone</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input  [class.invalid]="code.invalid || code.touched" required pattern="^$\d{10}$" type="text" class="gui-input"   name="telephone" id="field_telephone"
                                                       [(ngModel)]="site.telephone"   placeholder="Ninea de L'ecole" />
                                                <label for="field_telephone" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>-->

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.rang" for="field_rang">Rang</label>
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="number" class="gui-input" name="rang" id="field_rang"
                                                       [(ngModel)]="site.rang"  placeholder="Ninea de L'ecole" />
                                                <label for="field_rang" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="form-group col-md-2">
                                        <label class="switch block mt15">
                                            <input type="checkbox" (change)="changeEtat()" [checked]="site.etatSite==1" name="tools" id="t1" value="analytics">
                                            <label for="t1" data-on="Oui" data-off="Non"></label>
                                            <span>Etat</span>
                                        </label>

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch block mt15">
                                            <input type="checkbox"  (change)="changeENCOURS()" [checked]="site.encours==1" name="tools" id="t2" value="reports">
                                            <label for="t2" data-on="Oui" data-off="Non"></label>
                                            <span>Encours</span>
                                        </label>

                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="form-control-label" jhiTranslate="gestionEcoleApp.site.ecole" for="field_ecole">Ecole</label>
                                        <label class="field select" [class.invalid]="ecole.invalid">
                                            <select   class="form-control" id="field_ecole" name="ecole" [(ngModel)]="site.ecole"  required #ecole="ngModel" [class.invalid]="ecole.invalid" >
                                                <option [ngValue]="null">Selectionner une école</option>
                                                <option [ngValue]="ecoleOption.id === site.ecole?.id ? site.ecole : ecoleOption" *ngFor="let ecoleOption of ecoles; trackBy: trackEcoleById">{{ecoleOption.codeEcole}}</option>
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                        <small class="form-text text-danger"
                                               [class.hidden]="ecole.valid || ecole.untouched"   >
                                            Ce champ est obligatoire
                                        </small>


                                    </div>
                                </div>

                            </div>
                            <div>
                                <button  style="float: right" type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button style="float: right"  type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>

                        </form>


                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


