<div>
  <h2 id="page-heading" data-cy="AnneescolaireHeading">
    <span jhiTranslate="gestionEcoleApp.anneescolaire.home.title">Anneescolaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gestionEcoleApp.anneescolaire.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-anneescolaire"
        [routerLink]="['/anneescolaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionEcoleApp.anneescolaire.home.createLabel">Créer un nouveau Anneescolaire</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (anneescolaires().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionEcoleApp.anneescolaire.home.notFound">Aucun Anneescolaire trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.anneescolaire.libelle">Libelle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="encours">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.anneescolaire.encours">Encours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etat">
              <div class="d-flex">
                <span jhiTranslate="gestionEcoleApp.anneescolaire.etat">Etat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (anneescolaire of anneescolaires(); track trackId(anneescolaire)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/anneescolaire', anneescolaire.id, 'view']">{{ anneescolaire.id }}</a>
              </td>
              <td>{{ anneescolaire.libelle }}</td>
              <td>{{ anneescolaire.encours }}</td>
              <td>{{ anneescolaire.etat }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/anneescolaire', anneescolaire.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/anneescolaire', anneescolaire.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(anneescolaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (anneescolaires().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
